body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
section{
    height: 500px;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.first-section-bg{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.first-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.first-section img{
    width: 100%;

}
.first-section p{
    color: gray;
    text-align: justify;
}

.first-section button{
    width: 100px;
    height: 30px;
    background-color: rgba(250, 144, 6, 0.863);
    font-weight: bold;
    border-color: rgba(250, 144, 6, 0.863);
    border-style: none;
    border-radius: 5px;
}
.first-section button a{
    text-decoration: none;
    color: white;
}
.second-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
   
}
.second-section img{
    width: 100%;

}
.second-section p{
    color: gray;
    text-align: justify;
}

.second-section button{
    width: 100px;
    height: 30px;
    background-color: rgba(250, 144, 6, 0.863);
    color: white;
    font-weight: bold;
    border-color: rgba(250, 144, 6, 0.863);
    border-style: none;
    border-radius: 5px;
}
.second-section-bg{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.third-section-bg{
    margin-top: 170px;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.third-section-bg .third-section{
    width: 40%;
    height: 70%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    background-color: white;
    box-shadow: 10px 10px 30px gray;
}
.third-section-bg .third-section h3{
    color: orange;
}
.third-section-bg .third-section p{
    text-align: justify;
}
#section3-helf-1{
    border-left: 8px solid;
    border-image: linear-gradient(to bottom, tomato,rgb(255, 167, 133));
    border-image-slice: 1;
}
#section3-helf-2{
    border-left: 8px solid;
    border-image: linear-gradient(to bottom, rgb(29, 15, 216), rgb(40, 190, 236) );
    border-image-slice: 1;
}
footer{
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: black;
}